* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Armenia";
  src: url(./fonts/CosiArm.ttf);
}
a {
  text-decoration: none;
}

body {
  font-family: "Armenia";
  text-align: center;
  background-color: #c7c7c7;
  color: #505050;
  font-size: 20px;
}

.layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

header {
  height: 100vh;
}
.name1,
.name2 {
  font-size: clamp(1rem, 10vw, 4rem);
}
.photo {
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  border-radius: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
}
.line {
  width: 200px;
  height: 2px;
  background-color: #505050;
  margin: 50px 0;
}

.countdown-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-title {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  text-align: start;
}
#countdown {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: "Armenia";
}
#countdown p {
  font-weight: 700;
  /* font-size: clamp(3rem, -1.5rem + 10vw, 5rem); */
}

#countdown span {
  /* font-size: clamp(2rem, -1.5rem + 10vw, 3rem); */
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: clamp(2rem, 5vw, 2rem);
}
.place .time {
  font-size: clamp(2rem, 5vw, 5rem);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.place .city {
  /* font-size: 2.5rem; */
}
.place .title2 {
  font-family: "Armenia";
}
.place .place-img {
  width: 150px;
  height: 150px;
}
.place .place-img img {
  width: 100%;
  height: 100%;
}
.wait {
    margin: 50px 0;
}